@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    --color-01:#999999;
    --color-02:#009539;
    --color-03:#7950f2;
    --color-04:#c00000;
    --color-05:#232323;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* border: solid 1px var(--color-02); */
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-responsive{
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 80%;
    padding: 1rem;
    background-color: var(--bg-color-01);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.nav a, .nav-responsive a{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem;
    transition: 0.4s;

}

.nav-responsive a {
    display: block;
    padding: 10px;
}

.menu-hamburguer.active + .nav-responsive {
    display: block;
}

.nav a:hover, .nav-responsive a:hover{
    color: var(--main-color);
}

section{
    min-height: 100vh;
    padding: 6rem 5rem 2rem;
}

span{
    color: var(--main-color);
}

.home, .about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img img, .about-img img{
    width: 80%; 
    max-width: 360px;
    height: auto;
    border-radius: 50%;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.home-content, .about-content{
    width: 45%;
}

.home-content h3, .about-content h3{
    font-weight: 700;
    font-size: 1.3rem;
}

.home-content p, .about-content p{
    margin-top: 1.2rem;
    text-align: justify;
    font-size: 1rem;
}

.services h2,
.portfolio h2,
.contact h2{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.services-container .services-box{
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.services-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.04);
}

.services-box i{
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 1.5rem;
}

.services-box p{
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio{
    background-color: var(--bg-color-02);
}

.portfolio-container{
    display: grid;
    gap: 1.2rem;
}
.portfolio-box{
    position: relative;
    
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: 0.5s ease;
    filter: brightness(0.6); /* Deixa a imagem 60% mais clara, ou seja, mais escura */
    transition: 0.3s ease;
}

.portfolio-box img:hover{
    transform: scale(1.1);
    /* filter: brightness(1); /* Retorna ao normal ao passar o mouse */
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--bg-color-01));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(30rem);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 1.8rem;
}

.portfolio-layer p{
    margin: 0.2rem 0 0.5rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
}

.portfolio-layer a i{
    font-size: 1.2rem;
    color: var(--bg-color-02);
}

#status-message {
    margin-bottom: 0;
    padding-bottom: 0;
}

form{
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin: 0.4rem 0;
}


form .input-box input, form textarea{
    width: 48%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
}

form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.4rem 0;
}


form .input-box input, form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    form{
        max-width: 45rem;
        margin: 0.6rem auto;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    form .input-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.8rem;
        margin: 0.4rem 0;
    }

    form .input-box input[type="text"],
    form .input-box input[type="email"] {
    width: 48%;
}
    
    
    form .input-box input, form textarea{
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        color: var(--text-color);
        background-color: var(--bg-color-02);
        border-radius: 0.5rem;
        margin: 0.4rem 0;
        box-sizing: border-box;
    }
    
    form textarea{
        resize: none;
    }
}

form textarea{
    resize: none;
}


form textarea{
    resize: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

.social-media{
    width: 11.1rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover{
    background-color: var(--main-color);
    color: var(--bg-color-02);
    cursor: default;
    cursor: pointer;
}

.btn{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover{
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

/* MENU HAMBURGUER */

.menu-hamburguer{
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1{
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -0.65rem) rotate(45deg);
}

/* FIM MENU HAMBURGUER */

/* MEDIA QUERIES */

@media (min-width: 0px){

    .menu-hamburguer{
        display: block;
    }

    .nav{
        display: none;
    }

    .nav-responsive a{
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section{
        padding: 6rem 2.5rem;
    }

    .home, .about{
        flex-direction: column;
        gap: 1.2rem;
    }

    .about-img{
       width: 70%;
    }

    .home-img {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente (se necessário) */
        width: 100%; /* Garante que ocupe toda a largura disponível */
        margin: 0 auto; /* Centraliza caso o elemento seja `block` */
        text-align: center; /* Garante centralização se for um elemento inline */
    }

    .home-img img {
        max-width: 100%; /* Evita que a imagem ultrapasse os limites da tela */
        height: auto; /* Mantém a proporção */
    }

    .home-content, .about-content{
        width: 100%;
    }

    .home-content div{
        text-align: center;
    }

    .home-content h1, .about-content h1{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-container{
        flex-direction: column;
        align-items: center;
    }

    .services-box{
        width: 100%;
    }

    .portfolio-layer h4 {
        font-size: clamp(1rem, 4vw, 1.8rem);
    }
    
    .portfolio-layer p {
        font-size: clamp(0.85rem, 3vw, 1rem);
    }

}

@media (min-width: 576px){

    .home-img, .about-img{
        width: 65%;
        max-width: 65%;
    }

    .home-img {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente (se necessário) */
        width: 100%; /* Garante que ocupe toda a largura disponível */
        margin: 0 auto; /* Centraliza caso o elemento seja `block` */
        text-align: center; /* Garante centralização se for um elemento inline */
    }


    .home-img img {
        max-width: 100%; /* Evita que a imagem ultrapasse os limites da tela */
        height: auto; /* Mantém a proporção */
    }

    .services-box{
        width: 70%;
    }
}

@media (min-width: 768px){

    .menu-hamburguer{
        display: none ;
    }

    .nav{
        display: block;
    }

    .nav-responsive, .nav-responsive a{
        display: none;
    }

    .home {
        margin-left: 13%;
      }

    .home, .about{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-content, .about-content{
        width: 50%;
    }

    .home-img, .about-img{
        width: 25%;
        max-width: 25%;
    }

    .services-box{
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container{
        grid-template-columns: auto auto;
    }

    form .input-box{
        flex-direction: column;
    }

    form .input-box input{
        width: 100%;
    }

    .home-img, .about-img{
        max-width: 35%;
    }
    
    .about-img {
        justify-content: center;
        text-align: center;
    }

    .about-img img {
        margin: 0 auto;
    }

    .services-container{
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
    }

    .services-box {
        width: 60%; /* Reduzindo a largura para melhor encaixe */
    }   
}

@media (max-width: 767px) {
    section.contact {
      margin-bottom: 4rem;
    }
  
    
  
    .about-img {
      margin-top: 5rem;
    }
  }

@media (min-width: 992px){

      .services-container{
        flex-direction: row;
        gap: 1.2rem;
    }  
    
}

@media (min-width: 1200px){

    

    .home-content h1{
        font-size: 2.7rem;
    }

    .home-content h3{
        font-size: 2rem;
    }

    .portfolio-container{
        grid-template-columns: auto auto;
    }
}

/* FIM MEDIA QUERIES */

/* LEVE CARREGAMENTO DO CONTEÚDO */

.fade-in {
    animation: fadeIn 1s ease-in forwards;
}

.fade-in-2 {
    animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.contact {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 10rem;
  }

  .contact form {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  #status-message {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .about {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  
  form {
  }

  .contact h2 {
    margin-bottom: 1rem !important;
  }

  .home-img img,
  .about-img img {
    width: 90%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}
